*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    background-color: rgb(218, 218, 221);
    overflow-x: hidden;
    height: auto;
    
}
header{
    width: 100%;
    height: 100px;
    background-color: rgb(244, 250, 248);
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 26px;
    box-shadow: 2px 4px 2px 4px;
    position: fixed;
   
    
}
.logo img{
    width: 60px;
    align-content: center;
    justify-content: center;
    margin-left: 230px;
    
}

nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 10px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    background-color: #CEE8E5;
   color: black;
    border-radius: 50px;
    padding: 10px;
    transform: scale(1.06);
    
}
nav ul li a:hover{
    background-color: rgb(244, 250, 248);
    color: #A9DDC7;
    transition: 0.5s ease-in;
    
}


.container{
    width: auto;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding: 40px; 
   
    

}
.welcome{
    text-align: center;
    font-size: 36px;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 90px;
}

h2{
    text-align: center;
    margin: 10px;
    
}

.mon_parcoure{
    width: 80%;
    background-color: aliceblue;
    padding: 30px;
    margin: 20px;
    margin-bottom: 60px;
    font-size: 22px;
    border-radius: 20px;
    box-shadow: 3px 2px 4px 2px;
    
}
.mon_parcoure:hover{
    transform: scale(1.1);
    transition: 0.2S ease-in;
}
.ma_passion{
    width: 80%;
    background-color: aliceblue;
    padding: 30px;
    margin: 20px;
    font-size: 22px;
    border-radius: 20px;
    box-shadow: 3px 2px 4px 2px;
}
.ma_passion:hover{
    transform: scale(1.1);
    transition: 0.2S ease-in;
}


footer{
    display: fixed;
    width: 100%;
    height: 150px;
    background-color: black;
    margin-top: 20px;
}

button{
    width: 120px;
    padding: 7px;
    border: 1px red;
    border-radius: 10px;
    font-size: 18px;
}
button:nth-child(1):hover{
    background-color: #A9DDC7;
    color: rgb(244, 250, 248);
    transition: 0.5s ease-in;
}
button:nth-child(2):hover{
    background-color: rgb(244, 250, 248);
    color: #A9DDC7;
    transition: 0.5s ease-in;
}